 <div class="shk-item col-xs-6 col-sm-6 col-md-4 col-lg-4">
    <form action="/" method="post">
        <div class="thumbnail">
            <!-- IMAGE CONTAINER-->
            <a href="http://lampasklad.ru/dalla-ct-dto50-w" title="Потолочный точечный светильник DALLA CT-DTO50-W">
                <img class="shk-image img-responsive" src="/assets/cache_image/assets/templates/boot/images/big/22430_0x169_b4f.jpg" alt="Потолочный точечный светильник DALLA CT-DTO50-W" title="Потолочный точечный светильник DALLA CT-DTO50-W"></a>
            <!--END IMAGE CONTAINER-->
            <!-- CAPTION -->
            <div class="caption">
                <a href="http://lampasklad.ru/dalla-ct-dto50-w" title="Потолочный точечный светильник DALLA CT-DTO50-W">
                    <h3 class="h3category">DALLA CT-DTO50-W</h3>
                </a>
                <p class="category-descrip">Потолочный точечный светильник</p>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <p>Цена:</p>
                        <p class="lead shk-price text-danger">
                            549 руб.
                        </p>
                        <p>в наличии</p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <input type="hidden" name="shk-id" value="746">
                        <input type="hidden" name="shk-name" value="DALLA CT-DTO50-W">
                        <input type="hidden" name="shk-count" value="1">
                        <button type="submit" name="shk-submit" class="btn btn-block btn-success shk-but">В корзину</button>
                        <!-- <a class="btn btn-success btn-block" href="#">Add to cart</a>
                    -->
            </div>
        </div>
    </div>
    <!--END CAPTION -->
</div>
<!-- END: THUMBNAIL -->
                </form>
</div>