<div class="col-lg-9 col-xs-12">
                <%@product.images.each do |i|%>

        <div class="col-lg-3">
            <%=image_tag(i.thumb)%>
        </div>

                <% end %>
</div>

<div class="col-lg-4 col-xs-12">
  <h3>
    <%= @product.title %>
  </h3>
  <p class=""><%= @product.price %></p>

  <p><%= @product.description %></p>
  
</div>
