<div class="col-lg-3 col-xs-12">
                <%=image_tag(@product.product_image.url(:thumb), class: 'media-object')%>
</div>

<div class="col-lg-9 col-xs-12">
  <h3>
    <%= @product.title %>
  </h3>
  <p class=""><%= @product.price %></p>

  <p><%= @product.description %></p>
  
</div>
