<div class="col-lg-3 col-xs-12">
                <%@product.images.each do |i|%>

            <%=image_tag(i.url)%>


                <% end %>
</div>

<div class="col-lg-9 col-xs-12">
  <h3>
    <%= @product.title %>
  </h3>
  <p class=""><%= @product.price %></p>

  <p><%= @product.description %></p>
  
</div>
