<div class="col-lg-3 col-xs-12">
 <img class="product-card__image img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=28&txt=300×300&w=300&h=300"/>
</div>

<div class="col-lg-9 col-xs-12">
  <h3>
    <%= @product.title %>
  </h3>
  <p class=""><%= @product.price %></p>

  <p><%= @product.description %></p>
  
</div>
